URxvt.scrollBar: false
URxvt.font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*
URxvt.foreground: black
URxvt.background: #FFFCD5
URxvt.color0: black
URxvt.color1: #CC5353
URxvt.color2: #43A343
URxvt.color3: #BCB645
URxvt.color4: #3F6487
URxvt.color5: #DB55A9
URxvt.color14: #4AFBFA
URxvt.color9: #FF4B4B
URxvt.color10: #ACEC62
URxvt.color11: #DFD548
URxvt.color12: #507AA3
URxvt.color13: #F165B4
URxvt.color6: #64EAE5
