URxvt.scrollBar: false
!URxvt.font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*
URxvt.font: -*-clean-*-*-*-*-17-*-*-*-*-*-*-*

URxvt.foreground: #CACACA
URxvt.background: #333333

URxvt.color0: #aeb898
URxvt.color1: #666666
URxvt.color2: #767873
URxvt.color3: #bdc6ab
URxvt.color4: #737675
URxvt.color5: #acb9b4
URxvt.color6: #9faaa6
URxvt.color7: #a8b4af
URxvt.color8: #6b6c6c
URxvt.color9: #bcc6c3
URxvt.color10: #acb4b2
URxvt.color11: #cad1bc
URxvt.color12: #b8c0a7
URxvt.color13: #767878
URxvt.color14: #74756f
URxvt.color15: #9ca2a0
